body{
    font-family: 'Noto Sans', sans-serif;
}

.navbar-custom{
    width: 100%;
    position: fixed;
}

.banner{
    width: 100%;
    height: 100vh;
}

.banner .banner-col1{
    width: 40%;
    float: left;
}

.banner .banner-col1 img{
    width: 60%;
    margin-left: 20%;
    margin-top: 25vh;
}


.banner .banner-col2{
    width: 60%;
    float: left;
}

.banner .banner-col2 img{
    width: 100%;
    margin-top: 10vh;
}

.beranda1{
    width: 100%;
    height: 100vh;
    padding: 60px 30px;
    background-color: rgba(0, 128, 0, 0.059);
}

.beranda1 h1{
    font-size: 35px;
    text-align: center;
    color: rgb(255, 43, 43);
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}

.beranda1 h3 {
    font-size: 20px;
    text-align: center;
    color: green;
    font-weight: bold;
    font-style: italic;
}

.beranda1 video{
    width: 55%;
    margin-left: 22%;
    border-radius: 5%;
    box-shadow: 2px 2px 10px black;
}


.section3{
    width: 100%;
    height: 80vh;
}

.lokasi-col1{
    width: 50%;
    float: left;
}

.lokasi-col1 iframe{
    width: 100%;
    height: 80vh;
}

.lokasi-col2{
    width: 50%;
    
    float: left;
    padding-top: 3vh;
    background-color: rgba(50, 50, 50, 0.758);
    height: 80vh;
}

.lokasi-col2 h3{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    font-size: 20px;
}

.lokasi-col2 ul li, p{
    margin-left: 30px;
    margin-right: 20px;
    font-size: 15px;
    line-height: 25px;
    color: rgb(255, 255, 255);
}

.section4{
    width: 100%;
    height: 100vh;
    border: 1px solid rgb(255, 255, 255);
}

.section4 h3{
    font-weight: bold;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border-radius: 0 50px 0 0;
    margin-right: 75%;
    margin-top: 10vh;
}

.section4 .denah-col1{
    margin-top: 5vh;
    width: 50%;
    margin-left: 15%;
    float: left;
}


.section4 .denah-col1 img{
    width: 90%;
}

.section4 .denah-col2{
    margin-top: 10vh;
    width: 20%;
    float: left;
}

.section4 .denah-col2 img{
    width: 55%;
    height: 22vh;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: greenyellow;
}

@media screen and (max-width: 768px) {
    .banner{
        width: 100%;
        height: 90vh;
    }
    
    .banner .banner-col1{
        width: 40%;
        float: left;
    }
    
    .banner .banner-col1 img{
        width: 60%;
        margin-left: 20%;
        margin-top: 25vh;
    }
    
    
    .banner .banner-col2{
        width: 60%;
        float: left;
    }
    
    .banner .banner-col2 img{
        width: 100%;
        margin-top: 15vh;
    }

    .beranda1{
        width: 100%;
        height: 100vh;
        padding: 80px 30px;
        background-color: rgba(0, 128, 0, 0.059);
    }
    
    .beranda1 h1{
        font-size: 25px;
        text-align: center;
        color: rgb(255, 43, 43);
        font-weight: bold;
        text-shadow: 2px 2px 3px black;
    }
    
    .beranda1 h3 {
        font-size: 20px;
        text-align: center;
        color: green;
        font-weight: bold;
        font-style: italic;
    }
    
    .beranda1 video{
        width: 60%;
        margin-left: 20%;
        border-radius: 5%;
    }

    .section3{
        width: 100%;
    }
    
    .lokasi-col1{
        width: 50%;
        float: left;
    }
    
    .lokasi-col1 iframe{
        width: 100%;
        height: 80vh;
    }
    
    .lokasi-col2{
        width: 50%;
        float: left;
        padding-top: 2vh;
        background-color: rgba(50, 50, 50, 0.758);
        height: 80vh;
    }
    
    .lokasi-col2 h3{
        margin-top: 15px;
        color: rgb(255, 255, 255);
        margin-left: 20px;
        font-size: 15px;
    }
    
    .lokasi-col2 ul li, p{
        margin-left: 20px;
        margin-right: 15px;
        font-size: 13px;
        line-height: 15px;
        color: rgb(255, 255, 255);
    }

    .section4{
        width: 100%;
        height: 125vh;
    }
    
    .section4 h3{
        font-weight: bold;
        padding: 10px 20px;
        background-color: green;
        color: white;
        border-radius: 0 50px 0 0;
        margin-right: 75%;
        margin-top: 10vh;
    }
    
    .section4 .denah-col1{
        margin-top: 5vh;
        width: 50%;
        margin-left: 15%;
        float: left;
    }
    
    
    .section4 .denah-col1 img{
        width: 90%;
    }
    
    .section4 .denah-col2{
        margin-top: 5vh;
        width: 20%;
        float: left;
    }
    
    .section4 .denah-col2 img{
        width: 50%;
        height: 15vh;
        border-radius: 50%;
        margin-bottom: 20px;
        background-color: greenyellow;
    }
}


@media screen and (max-width: 428px) {
    .banner{
        width: 100%;
        height: 55vh;
    }
    
    .banner .banner-col1{
        width: 40%;
        float: left;
        display: none;
    }
    
    .banner .banner-col1 img{
        width: 60%;
        margin-left: 20%;
        margin-top: 15vh;
    }
    
    
    .banner .banner-col2{
        width: 100%;
        float: left;
    }
    
    .banner .banner-col2 img{
        width: 100%;
        margin-top: 15vh;
    }

    .beranda1{
        width: 100%;
        height: 70vh;
        padding: 80px 30px;
        background-color: rgba(0, 128, 0, 0.059);
    }
    
    .beranda1 h1{
        font-size: 25px;
        text-align: center;
        color: rgb(255, 43, 43);
        font-weight: bold;
        text-shadow: 1px 1px 3px black;
    }
    
    .beranda1 h3 {
        font-size: 15px;
        text-align: center;
        color: green;
        font-weight: bold;
        font-style: italic;
    }
    
    .beranda1 video{
        width: 90%;
        margin-left: 5%;
        border-radius: 5%;
    }

    .navbar-custom{
        width: 100%;
        position: fixed;
    }

    .section3{
        width: 100%;
        height: 100vh;
    }
    
    .lokasi-col1{
        width: 100%;
        float: left;
    }
    
    .lokasi-col1 iframe{
        width: 100%;
        height: 50vh;
    }
    
    .lokasi-col2{
        width: 100%;
        float: left;
        padding-top: 3vh;
        background-color: rgba(50, 50, 50, 0.758);
        height: 50vh;
    }
    
    .lokasi-col2 h3{
        margin-top: 18px;
        color: rgb(255, 255, 255);
        margin-left: 15px;
        font-size: 18px;
    }
    
    .lokasi-col2 ul li, p{
        margin-left: 15px;
        margin-right: 15px;
        font-size: 13px;
        line-height: 15px;
        color: rgb(255, 255, 255);
    }

    .section4{
        width: 100%;
        height: 105vh;
        border: 1px solid rgb(255, 255, 255);
    }
    
    .section4 h3{
        font-weight: bold;
        padding: 10px 20px;
        background-color: green;
        color: white;
        border-radius: 0 50px 0 0;
        margin-right: 40%;
        margin-top: 10vh;
    }
    
    .section4 .denah-col1{
        margin-top: 5vh;
        width: 80%;
        margin-left: 10%;
        float: left;
    }
    
    
    .section4 .denah-col1 img{
        width: 100%;
    }
    
    .section4 .denah-col2{
        margin-top: 5vh;
        width: 90%;
        margin-left: 5%;
        float: left;
    }
    
    .section4 .denah-col2 img{
        width: 20%;
        height: 9vh;
        border-radius: 50%;
        margin-bottom: 20px;
        margin-left: 3%;
        background-color: greenyellow;
    }
}